.main_menu ul {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0;
  list-style-type: none;
  flex-wrap: wrap;
}
.header {
  display: flex;
  margin: 0 auto;
  padding-top: 15px;
  max-width: 960px;
  width: 100%;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 120px;
}
.main{
  max-width: 1920px;
}