*, *:before, *:after {
	box-sizing: border-box;
}

body {
	font-family: 'Open sans', sans-serif;
	background: #f2f2f2;
}

.container {
	margin: 0 auto;
	text-align: center;
	position: relative;
	background: white;
	max-width: 1600px;
	width: 100%;
}

.button-down {
	display: inline-block;
	margin: 28px auto;
	border: 3px solid #9ac34e;
	transform: rotate(45deg);
	border-left: hidden;
	border-top: hidden;
	width: 20px;
	height: 20px;
}

.h {
	font-size: 40px;
	text-align: left;
	color: #3e3e3e;
}

.h::after {
	display: inline-block;
	position: relative;
	background-color: #9ac34e;
	top: -45px;
	left: -240px;
	width: 60px;
	height: 3px;
	content: '';
}