footer {
	margin-top: 90px;
	margin-bottom: 35px;
	font-family: 'PT sans', sans-serif;
}

.footer-text {
	font-size: 14px;
	color: #808080;
	background: #f2f2f2;
}

.footer {
	font-family: 'PT sans', sans-serif;
	display: inline-block;
	line-height: 65px;
	vertical-align: middle;
}

.footer__menu{
	list-style-type: none;
	display: flex;
	margin: 0 auto;
	padding-top: 350px;
}

.footer__menu-link {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
	margin: 0 35px;
}

.footer__menu-link:hover {
	text-decoration: none;
	cursor: pointer;
}