#section-projects {
	margin: 0 auto;
	max-width: inherit;
	width: 100%;
	background: url(../img/our-projects-bg.png) bottom /cover;
	z-index: -2;
}

.projects-content {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
}

.project-images {
	display: flex;
}

.project-images__elem h3 {
	color: #fff;
	font-family: 'PT Sans', sans-serif;
	line-height: 1.5;
	font-size: 20px;
	position: absolute;
	left: inherit;
	padding-left: 20px;
	text-align: left;
	z-index: 1;
}

.project-images__elem p {
	display: none;
	position: absolute;
	color: #fff;
	font-family: 'PT Sans', sans-serif;
	line-height: 1.5;
	font-size: 14px;
	left: inherit;
	padding-left: 20px;
	text-align: left;
	z-index: 2;
}

.project-images__elem p:hover {
	display: block;
}

.project-images__elem {
	width: 100%;
	margin: 0px 7px;
	margin-bottom: 135px;
}

.project-images__elem img {
	box-shadow: 0 4px 4px 0px rgba(0, 0, 0, .2);
}


#prof-sert::after {
	display: inline-block;
	position: relative;
	background-color: #9ac34e;
	top: -45px;
	left: -455px;
	width: 60px;
	height: 3px;
	content: '';
}

#mask {
	background-color:rgba(0,0,0,.5);
	position: absolute;
	top: inherit;
	left: inherit;
	margin-top: -313px;
	width: 310px;
	height: 310px;
}

#mask:hover {
	background-color:rgba(0,0,0,.0);
	cursor: pointer;
}