#section-consult {
	display: flex;
	flex-wrap: wrap-reverse;
	margin: 0 auto;
	background: #f1f1f1;
	min-height: 660px;
	max-width: 1280px;
	width: 100%;
	box-shadow: 0 5px 4px -2px rgba(0, 0, 0, .2);
}

.section-consult__desc {
	max-width: 480px;
	width: 100%;
	margin-left: 160px;
	margin-top: 64px;
	color: #5c5c5c;
	font-size: 15px;
	text-align: left;
	line-height: 1.5;
}

.section-consult__image {
	margin-left: 30px;
	margin-top: 64px;
}

.section-consult__desc h1 {
	font-weight: 300;
	font-size: 48px;
	color: #465daa;
	text-transform: uppercase;
}

.section-consult__desc h1::after {
	color: #465daa;
	display: inline-block;
	position: relative;
	background-color: #465daa;
	top: -55px;
	left: -329px;
	width: 60px;
	height: 3px;
	content: '';
}
