#section-sertificates {
	margin: 0 auto;
	background: #fff;
	margin-top: -480px;
	padding-top: 45px;
	padding-left: 160px;
	max-width: 1280px;
	width: 100%;
	min-height: 420px;
	height: 100%;
}

.sertificates__bg {
	background: #7686b5;
	max-width: 1600px;
	width: 100%;
	min-height: 410px;
	margin: 0 auto;
	z-index: -2;
}

.sertificates__images {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.sertificates__images--elem {
	padding: 0 25px;
}

.hr {
	max-width: 960px;
	width: 100%;
	background: #eeeeee;
	height: 1px;
}

.certif-contacts {
	display: flex;
	text-align: left;
	font-size: 15px;
	line-height: 1.5;
	justify-content: space-between;
	max-width: 960px;
	font-family: 'PT sans', sans-serif;
}

.__address {
	max-width: 360px;
	width: 100%;
}

.__social ul {
	list-style-type: none;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.__social ul li {
	margin: 0 7px;
}