#section-services {
	margin: 0 auto;
	padding-top: 80px;
	max-width: 960px;
	width: 100%;
}

.section-services__list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: 
}

.section-services__list--elements {
	margin: 25px 0px;
	margin-right: 70px;
}

.section-services__list--elements img{
	border-radius: 50%;
	border: 1px solid #fff;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, .2);
	cursor: pointer;
}

.elements-number {
	margin: 10px auto;
	width: 26px;
	height: 26px;
	display: block;
	padding-top: 3px;
	background: #465daa;
	border-radius: 50%;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

.elements-desc {
	color: #465daa;
	text-decoration: underline;
	cursor: pointer;
	font-weight: bold;
	font-size: 16px;
}

.elements-desc:hover
 {
	text-decoration: none;
}